.overlay {
  position: absolute;
  left: -50vw;
  width: 100vw;
  top: calc(-50vh + 32px);
  height: 100px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay-btns {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .overlay-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max(5vw, 60px);
      height: max(5vw, 60px);
      background: #222222;
      color: #fff;
      border: 2px solid #000;
      font-size: max(3vw, 40px);
      pointer-events: auto;
      cursor: pointer;

      &:hover {
        background-color: #333333;
      }
    }
  }
}
