.overlay {
  position: absolute;
  left: -50vw;
  width: 100vw;
  top: calc(-50vh + 32px);
  height: 100px;
  pointer-events: none;
  user-select: none;
}

.closeButton {
  position: absolute;
  top: 3vh;
  right: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #222222;
  color: #fff;
  font-size: 64px;
  border: 2px solid #000;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    background-color: #333333;
  }
}

.shuffleButton {
  position: absolute;
  top: 3vh;
  left: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #222222;
  color: #fff;
  font-size: 48px;
  border: 2px solid #000;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    background-color: #333333;
  }
}

.resumeButton {
  position: absolute;
  top: 3vh;
  left: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #222222;
  color: #fff;
  font-size: 48px;
  border: 2px solid #000;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    background-color: #333333;
  }
}
